<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">
    <context:component-scan base-package="com.soft1851.spring.ioc.config"/>


    <bean id="hello" class="com.soft1851.spring.ioc.entity.Hello"/>

    <bean id="student1" class="com.soft1851.spring.ioc.entity.Student" p:id="1000" p:name="Toy"/>
    <bean id="student2" class="com.soft1851.spring.ioc.entity.Student" p:id="1010" p:name="Tony"/>
    <bean id="student" class="com.soft1851.spring.ioc.entity.Student">
        <property name="id" value="1001"/>
        <property name="name" value="Tom"/>
        <property name="hobbies">
            <list>
                <value>打游戏</value>
                <value>动漫</value>
                <value>编程</value>
            </list>
        </property>
        <property name="single">
               <map>
                  <entry key="1" value-ref="student1"/>
                   <entry key="2" value-ref="student2"/>
               </map>
        </property>
        <property name="fruits">
            <set>
                <ref bean="student1"/>
                <ref bean="student2"/>
            </set>
        </property>
    </bean>
</beans>